# Publish only the reviewed static website and its licences/documentation.
*
!/.gitignore
!/.nojekyll
!/index.html
!/poff-logo.png
!/atlas.css
!/atlas.js
!/d3.min.js
!/world.json
!/data/
!/data/**
!/README.md
!/LICENSE
!/LICENSE-DATA
!/THIRD_PARTY_NOTICES.md
